:root {
    --default-size: 20px;
    --compact-size: 16px;
    --label-size: 14px;
}

body,
input {
    font-size: var(--default-size);
}

:any-link {
    text-decoration: none;
}

*:focus-visible {
    outline: none;
}

*::-webkit-scrollbar {
    width: 12px;
    height: 8px;
    background-color: var(--tint);
}
*::-webkit-scrollbar-thumb {
    background-color: var(--legend);
}
*::-webkit-scrollbar-thumb:hover {
    background-color: var(--active);
}