:root {
    --default-size: 20px;
    --compact-size: 16px;
    --label-size: 14px;
}

body,
input {
    font-size: var(--default-size);
}

*:focus-visible {
    outline: none;
}

.small {
    font-size: var(--label-size);
}
.compact, .compact * {
    font-size: var(--compact-size);
}
.big {
    font-size: var(--default-size);
}

.medium {
    font-weight: 600;
}

*::-webkit-scrollbar {
    width: 12px;
    height: 8px;
    background-color: var(--tint);
}
*::-webkit-scrollbar-thumb {
    background-color: var(--legend);
}
*::-webkit-scrollbar-thumb:hover {
    background-color: var(--active);
}