.small {
    font-size: var(--label-size);
}
.compact, .compact * {
    font-size: var(--compact-size);
}
.big {
    font-size: var(--default-size);
}

.medium {
    font-weight: 600;
}

.italic {
    font-style: italic;
}

.action-color {
    color: var(--text-action);
}

.label,
.thumb,
.tab {
    background-color: var(--widget);
    cursor: pointer;
}
.label {
    font-size: var(--label-size);
    padding: 2px 4px;
    border-radius: 4px;
}
.thumb,
.tab {
    font-size: var(--compact-size);
    padding: 8px 12px;
}
.thumb {
    border-radius: 8px;
}

.widget {
    background-color: var(--widget);
    box-shadow: 2px 4px 4px 2px var(--shadow);
}
.tint {
    background-color: var(--tint);
}
.transparent {
    background-color: transparent;
}
input.transparent {
    border: none;
}

.window {
    --block-margin: 50px;
    --inline-margin: 50px;

    width: calc(100% - 2 * var(--inline-margin));
    height: calc(100% - 2 * var(--block-margin));

    margin: var(--block-margin) var(--inline-margin);
}

.no-border {
    border: none;
}

.left-panel {
    border-right: solid 1px var(--light-border);
}
.bottom-panel-fade {
    box-shadow: 0 -2px 4px 0px var(--shadow);
}

.line-crossed-section {
    border-top: solid 1px var(--legend);
    margin-block-start: calc(1em * 0.7 + 1px);
}
.line-crossed-section .section-title {
    background-color: var(--contrast);
    width: max-content;
    color: var(--contrast-fore);
    margin-block-start: calc(1em * -0.7 - 1px);
    padding: 0.2em;
    font-size: 1em;
    line-height: 1;
}

[component="check_box"] {
    display: block;
    background-color: #ffffff;
    width: 1lh;
    aspect-ratio: 1;
    border: solid 1px var(--text);
}
[component="check_box"]::after {
    content: "";
    position: absolute;
    background-color: var(--active);
    width: 100%;
    height: 100%;
    transform: scale(0);
}
[component="check_box"]:active::after {
    transform: scale(0.8);
}

[component="switch"] {
    background-color: var(--contrast);
    height: 1.2em;
    aspect-ratio: 2;
    border-radius: 1em;
    padding: 0.1em;
}
[component="switch"]::before {
    content: "";
    display: block;
    position: relative;
    background-color: var(--legend);
    height: 100%;
    aspect-ratio: 1;
    border-radius: inherit;
    left: 0%;
}
[component="switch"]:active::before {
    background-color: var(--contrast-fore);
    left: 100%;
    transform: translateX(-100%);
}